body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  font-size: 60px;
  font-family: 'Arial', sans-serif;
}

.flags {
  display: flex;
}

.brazil {
  padding: 10px;
  width: 100px;
  flex: 1;
}

.brazil:hover {
  width: 120px;
}

.eua {
  width: 120px;
  flex: 1;
}

.eua:hover {
  width: 140px;
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  margin: 10px;
  height: 550px;
  width: 45%;
  background-color: rgba(221, 221, 221, 0.208);
}

#foto {
  border-radius: 100%;
  width: 95%;
}

.index li {
  font-family: 'Gill Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 35px;
}

.flexIndex {
  flex: 1;
}

.flexPhoto {
  flex: 1;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Gill Sans', sans-serif;
}

.subtitle {
  width: 100%;
  text-align: center;
  margin-right: 18px;
}

.subtitleIndex {
  width: 80%;
  text-align: center;
}

.centerList {
  margin-left: 28%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 70%;
  font-size: 20px;
  padding: 30px;
  margin: 20px;
}

.aboutMe {
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 25px;
}

.strong {
  font-weight: bold;
  text-decoration: underline;
}

.skills {
  display: flex;
  justify-content: space-around;
  width: 90%;
  font-size: 30px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(221, 221, 221, 0.208);
}

.softSkills {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.softSkills li {
  align-items: center;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 35px;
}

.hardSkills {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.hardSkills li {
  align-items: center;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 35px;
}

.interests {
  height: 45%;
  width: 70%;
  padding: 30px;
}

.flexInterests {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexSteam {
  display: inline-block;
}

.flexYoutube {
  display: inline-block;
}

.flexNetflix {
  display: inline-block;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45%;
  width: 100%;
  padding: 40px 0px;
  background-color: rgba(221, 221, 221, 0.208);
}

.flexMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flexFace,
.flexInsta,
.flexLinke,
.flexGit {
  display: inline-block;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  cursor: pointer;
}

a:hover {
  font-size: 1.2em;
  font-weight: bolder;
  color: white;
}

.logosSize {
  width: 100px;
  height: 100px;
}

#steam {
  background-image: url('./images/steam1.png');
}

#steam:hover {
  background-image: url('./images/steam2.png');
}

#youtube {
  background-image: url('./images/youtube1.png');
}

#youtube:hover {
  background-image: url('./images/youtube2.png');
}

#netflix {
  background-image: url('./images/netflix1.png');
}

#netflix:hover {
  background-image: url('./images/netflix2.png');
}

#facebook {
  background-image: url('./images/face1.png');
}

#facebook:hover {
  background-image: url('./images/face2.png');
}

#insta {
  background-image: url('./images/insta1.png');
}

#insta:hover {
  background-image: url('./images/insta2.png');
}

#linke {
  background-image: url('./images/linke1.png');
}

#linke:hover {
  background-image: url('./images/linke2.png');
}

#git {
  background-image: url('./images/git1.png');
}

#git:hover {
  background-image: url('./images/git2.png');
}